<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="titulo">Formulario Multas</h1>

    
    <div class="row justify-content-center">
        <form class="formulario" action="autores" method="post" >
            <div class="mb-3">
                <label for="text" class="form-label">nombrecompleto</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="nombrecompleto" placeholder="nombrecompleto">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">fechaNacimiento</label>
                <input type="date" class="form-control" name="fechaNacimiento" placeholder="fechaNacimiento">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">fechaDeseso</label>
                <input type="date" class="form-control" name="fechaDeseso" placeholder="fechaDeseso">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>