<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="titulo">Formulario Multas</h1>
    
    <form action="multas" method="post">
        <label for="">tiempoSancion</label>
        <input type="date" name="tiempoSancion">
        <label for="">motivo</label>
        <input type="text" name="motivo">

        <button type="submit">enviar</button>
    </form>
</body>
</html>