<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual de libros</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/css/styles.css">

</head>

<body>
        
        

    <main>
        <section>
            <% if(rol === undefined) { %>
                <%- include('../partials/vista1') %>

            <%}else if(rol === "administrador"){%>
                <%- include('../partials/vista3') %>

            <%}else if(rol === "usuario"){%>
                <%- include('../partials/vista2') %>
            
            <%}%>
        </section>

        <section id="primerSect">
            


            <img src="images/fondo1.jpg" alt="fondo" width="100%">
            <div class="center form-row">
                <form action="">

                <!-- <form action="busqueda">
                    <label for="busquedaCatalogo" class="text-light">Búsqueda rápida en el Catálogo</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa un título o palabra clave" id="busquedaCatalogo">
                    </div> -->
        </div>
                </form>
        </section>

        <section>
            <div class="text-center bg-light">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner row">
                        <div class="carousel-item active col-sm">
                            <img src="images/libro1.jpeg" width="250px" height="330px">
                        </div>
                        <div class="carousel-item col-sm">
                            <img src="images/libro2.jpg" width="250px" height="330px">
                        </div>
                        <div class="carousel-item col-sm">
                            <img src="images/libro3.jpg" width="250px" height="330px">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev bg-dark" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next bg-dark" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </section>
        <section id="segundaSect">
            <div class="container-fluid text-center bg-dark text-light">
                <p>Calendario de actividades</p>
            </div>
        </section>


        <section class="mt-5 mb-5" id="cuartaSect">
            <h2 class="text-center">Proximamente en nuestra Tienda </h2>
            <div class="container pt-3">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/artistico.jpg">
                            <h3>Descargar libro</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>¿Quieres leer un libro nuevo sin tener que esperar a que llegue por correo?

                                ¡Pronto podras hacerlo en nuestra tienda virtual!
                                
                                Ofrecemos descargas de libros digitales para nuestros clientes.
                                
                                Puedes elegir entre una amplia variedad de libros, desde novelas hasta libros de texto.
                                
                                Las descargas son instantáneas, por lo que puedes empezar a leer tu libro nuevo de inmediato.
                                
                                ¡No te lo pierdas!</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="">Inscribirse</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/artistico.jpg">
                            <h3>Prestamos</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>¿Quieres leer un libro nuevo sin tener que comprarlo?

                                ¡Ahora puedes hacerlo en nuestra tienda virtual!
                                
                                Ofrecemos préstamos de libros gratuitos para nuestros clientes.
                                
                                Puedes elegir entre una amplia variedad de libros, desde novelas hasta libros de texto.
                                
                                Los préstamos son de 14 días, pero puedes renovarlos si los necesitas más tiempo.
                                
                                ¡No te lo pierdas!</p>

                            <button type="button" class="btn" data-toggle="modal" data-target="#inscripcion">Inscribirse</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/artistico.jpg" width="100%">
                            <h3>Taller Artístico</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p> 
                                ¿Te apasiona el arte? ¿Quieres aprender nuevas técnicas y desarrollar tu creatividad?
                                
                                ¡Entonces no te pierdas nuestros talleres de arte virtual!
                                
                                Ofrecemos una amplia variedad de talleres para todos los niveles, desde principiantes hasta avanzados.</p>

                            <button type="button" class="btn" data-toggle="modal" data-target="">Inscribirse</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light">
            <div class="row container-fluid text-dark pt-4">
                <div class="col text-center">
                    <h2>Ubicación</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.8279947080196!2d-75.60833759570296!3d6.180814876638257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46823b07fa76e7%3A0xd858c9c2ddf4b118!2sSENA%20Complejo%20Sur%20Itag%C3%BC%C3%AD!5e0!3m2!1ses!2sco!4v1669520454437!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="pt-3"></iframe>
                </div>

        </section>

        <footer class="container-fluid bg-dark text-light text-center">
            <p>Tienda Virtual de libros, todos los derechos reservados 2023 ©</p>
        </footer>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</body>




