<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual de libros</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/css/styles.css">

</head>

<body>
    <nav id="barra" class="navbar navbar-expand-sm navbar-light">
        <!-- Brand/logo -->
        <div class="container justify-content-start">
            <img src="images/udl.png" alt="logo" style="width:110px;">
            <a class="navbar-brand">
                El universo de los libros
            </a>
        </div>
        <!-- Links -->
        <ul class="container justify-content-end navbar-nav" id="items">
            <li class="nav-item">
                <a class="nav-link" href="landing">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Catálogo</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/mostrarformulario">Registrar libro</a>
                    <a class="dropdown-item" href="/listarLibro">Ver catálogo</a>
                </div>
            </li>
            <li class="nav-item pr-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login">
                    <i class="fa fa-user-circle"></i>
                </button>
            </li>
            <li class="nav-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#registro">
                    <i class="fa fa-sign-in"></i>
                </button>
            </li>
        </ul>
    </nav>
    <main>
        <section id="primerSect">
            <img src="images/fondo1.jpg" alt="fondo" width="100%">
            <div class="center form-row">
                <form action="">

                <!-- <form action="busqueda">
                    <label for="busquedaCatalogo" class="text-light">Búsqueda rápida en el Catálogo</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa un título o palabra clave" id="busquedaCatalogo">
                    </div> -->
        </div>
                </form>
        </section>

        <section>
            <div class="text-center bg-light">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner row">
                        <div class="carousel-item active col-sm">
                            <img src="images/libro1.jpeg" width="250px" height="330px">
                        </div>
                        <div class="carousel-item col-sm">
                            <img src="images/libro2.jpg" width="250px" height="330px">
                        </div>
                        <div class="carousel-item col-sm">
                            <img src="images/libro3.jpg" width="250px" height="330px">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev bg-dark" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next bg-dark" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </section>
        <section id="segundaSect">
            <div class="container-fluid text-center bg-dark text-light">
                <p>Calendario de actividades</p>
            </div>
        </section>


        <section class="mt-5 mb-5" id="cuartaSect">
            <h2 class="text-center">Inscripciones Abiertas</h2>
            <div class="container pt-3">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/robotica.jpg">
                            <h3>Curso Robótica</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste
                                veritatis provident at.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="">Inscribirse</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/python.jpeg">
                            <h3>Curso Python</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste
                                veritatis provident at.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#inscripcion">Inscribirse</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="images/artistico.jpg" width="100%">
                            <h3>Taller Artístico</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste
                                veritatis provident at.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="">Inscribirse</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- <section id="quintaSect">
            <div class="row bg-dark">
                <div class="container col align-items-center justify-content-center text-light">
                    <h2>Sobre nosotros</h2>
                </div>
                <div class="col">
                    <img src="images/fondoIns.jpg" alt=""class=>
                </div>
            </div>
        </section> -->


        <section class="bg-light">
            <div class="row container-fluid text-dark pt-4">
                <div class="col text-center">
                    <h2>Ubicación</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.8279947080196!2d-75.60833759570296!3d6.180814876638257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46823b07fa76e7%3A0xd858c9c2ddf4b118!2sSENA%20Complejo%20Sur%20Itag%C3%BC%C3%AD!5e0!3m2!1ses!2sco!4v1669520454437!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="pt-3"></iframe>
                </div>

        </section>

        <footer class="container-fluid bg-dark text-light text-center">
            <p>AdmyLib, todos los derechos reservados 2022 ©</p>
        </footer>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



    









</body>


<!-- Modal login-->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/inicio" method="get">
                    <div class="form-group">
                        <label for="correo">*Correo:</label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo" name="correo" required>
                    </div>
                    <div class="form-group">
                        <label for="password">*Contraseña:</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña"  name="password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Recuperar Contraseña</button>
                    </div>
                    <div class="form-group form-check text-center">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Recordarme
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal registro-->
<div class="modal fade" id="registro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="registrarusuario" method="post">
                    <div class="form-group">
                        <label for="usuario">*Usuario:</label>
                        <input type="text" class="form-control" placeholder="Ingrese su usuario"  name="usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">*Correo electrónico:</label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo"  name="correo" required>
                    </div>
                    <div class="form-group">
                        <label for="password">*Contraseña:</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña"   name="password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </div>
            </div>
        </div>
    </div>
</div>
