<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="titulo">Formulario Multas</h1>
    
    <div class="row justify-content-center">
        <form class="formulario" action="libros" method="post" >
            <div class="mb-3">
                <label for="text" class="form-label">Isbn</label>
                <input type="text" class="form-control"  name="Isbn" placeholder="Isbn">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">titulo</label>
                <input type="text" class="form-control" name="titulo" placeholder="titulo">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">autor</label>
                <input type="text" class="form-control" name="autor" placeholder="autor">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">editorial</label>
                <input type="text" class="form-control" name="editorial" placeholder="editorial">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">materias</label>
                <input type="text" class="form-control" name="materias" placeholder="materias">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">fechaPublicacion</label>
                <input type="date" class="form-control" name="fechaPublicacion" placeholder="fechaPublicacion">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">copiasDisponibles</label>
                <input type="number" class="form-control" name="copiasDisponibles" placeholder="copiasDisponibles">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Idiomas</label>
                <input type="text" class="form-control" name="motivo" placeholder="motivo">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body> 
</html>