<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda virtual de libros </title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="../../styles/css/styles.css">


</head>

<body>
    <nav id="barra" class="navbar navbar-expand-sm navbar-light">
        <!-- Brand/logo -->
        <div class="container justify-content-start">
            <img src="images/udl.png" alt="logo" style="width: 120px;">
            <a class="navbar-brand">
                El universo de los libros
            </a>
        </div>
        <!-- Links -->
        <ul class="container justify-content-end navbar-nav" id="items">
            <li class="nav-item">
                <a class="nav-link" href="landing">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Catálogo</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">Registrar libro</a>
                    <a class="dropdown-item" href="">Ver catálogo</a>
                </div>
            </li>
            <li class="nav-item pr-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login">
                    <i class="fa fa-user-circle"></i>
                </button>
            </li>
            <li class="nav-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#registro">
                    <i class="fa fa-sign-in"></i>
                </button>
            </li>
        </ul>
    </nav>


    <div class="container pt-4 pb-4" >
        <form  class="needs-validation" novalidate  action="registrarlibros" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="isbn">*ISBN:</label>
                <input type="number" class="form-control" id="" placeholder="Ingresa el ISBN" name="isbn"   required>
                <div class="invalid-feedback">
                    Ingresa el ISBN
            </div>
            </div>
            <div class="form-group">
                <label for="titulo">*Título:</label>
                <input type="text" class="form-control" id="" placeholder="Ingresa el título" name="titulo"  required >
                <div class="invalid-feedback">
                    Ingresa el titlo
                </div>
            </div>
            <div class="form-group">
                <label for="Añodepublicacion">*Año de publicación:</label>
                <input type="date" class="form-control" id="" placeholder="Ingresa el año de publicacion" name="Añodepublicacion" required>
                <div class="invalid-feedback">
                    Ingresa el año de publicacion
            </div>
            </div>
            <div class="form-group">
                <label for="editorial">*editorial</label>
                <input type="text" class="form-control" id="" placeholder="Ingresa la editorial del libro" name="editorial" min="100" maxlength="150">
                <div class="invalid-feedback">
                    ingresa la editorial del libro
            </div>  
            <div class="form-group">
                <label for="copias">*Copias Disponibles</label>
                <input type="number" class="form-control" id="" placeholder="Ingresa el numero de copias disponibles" name="copiasdisponibles" required>
                <div class="invalid-feedback">
                    ingresa el numero de copias
            </div>
            <div class="form-group">
                <label for="Validation6">*Precio</label>
                <input type="precio" class="form-control" id="" placeholder="Ingresa el precio del libro" name="precio" required>
                <div class="invalid-feedback">
                    ingresa el precio
            </div>
            <div class="form-group">
                <label for="idioma">*idioma</label>
                <input type="text" class="form-control" id="" placeholder="Ingresa el idioma" name="idioma" min="15" max="50"> 
                <div class="invalid-feedback">
                    ingresa el idioma 
            </div>
            <div class="form-group">
                <label for="autor">*Autor</label>
                <input type="text" class="form-control" id="" placeholder="Ingresa el autor del libro" name="autor" min="100" maxlength="180" required>
                <div class="invalid-feedback">
                    ingresa el autor 
            </div>
            </div>
            <div class="form-group">
                <label for="inputGroupFile02" class="form-label">Imagen del libro</label>
                <input type="file" class="form-control" id="inputGroupFile02" name="image"
                        aria-describedby="inputGroupFileAddon02">
                <div class="invalid-feedback">
                            ingresa un imagen
                </div> 
            </div>
            <div class="form-group">
                <label for="materias">*materias</label>
                <input type="text" class="form-control" id="" placeholder="Ingresa la materia del libro" name="materias" min="20" maxlength="60">
                <div class="invalid-feedback">
                    ingresa la materia 
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <script>
             //Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
            'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

                form.classList.add('was-validated')
            }, false)
            })
        })()
            </script>

        </body>







<!-- Modal login-->
<!-- <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" onsubmit="return validarlogin()">
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" name="correo" class="form-control" id="correo" placeholder="Ingrese su correo" name="correo" required >
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" id="password placeholder="Ingrese su contraseña" name="password"  required>
                    </div>
                    <div class="form-group form-check text-center">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Recordarme
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal registro Usuario-->
<!-- <div class="modal fade" id="registro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="registrarusuario" method="post" onsubmit="return validarRegistro">
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" placeholder="Ingrese su usuario"  id="usuario" name="usuario"  required  min="15" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="correo">email:</label>
                        <input type="email" class="form-control" placeholder="Ingrese su correo"  id="correo" name="correo"  required  >
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="password"  name="password"  required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> --> 






<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</html>