/*:::::::: GENERAL ::::::::*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;

}
body {	
	@include roboto;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	@media screen and (max-width: $break-medium){
		font-size: 30px;
	}
}

h2 {
	font-size: 30px;
	font-weight: 700;
	@media screen and (max-width: $break-medium){
		font-size: 20px;
	}
}

h3 {
	font-size: 22px;
	font-weight: 700;
	@media screen and (max-width: $break-medium){
		font-size: 18px;
	}
}

p {
	font-size: 16px;
	font-weight: 400;
	@media screen and (max-width: $break-small){
		font-size: 14px;
	}
}

iframe {
	margin-bottom: 30px;
}

.btn {
	@include btn;
}

.outline {
	@include outline;
}

.btn-back {
	font-size: 18px;
	font-weight: bold;
	margin: 40px;
    display: block;
}

.titulo{
	text-align: center;
}

.content-table {
	overflow-x: auto;
	margin: 20px auto 30px auto;
	width: 94%;
	&::-webkit-scrollbar{
        // width: 5px;               /* width of the entire scrollbar */
        height: 7px;
    }
    &::-webkit-scrollbar-track {
        background: rgb(225, 225, 225)0;        /* color of the tracking area */
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: #343a40;    /* color of the scroll thumb */
        border-radius: 10px;       /* roundness of the scroll thumb */
        border: 2px solid #343a40;  /* creates padding around scroll thumb */
    }
}
.table {
	&.table-bordered {
		border-color: #dfdfdf;
		justify-content: center; 
		border-radius: 30px;	
	}
	th, td {
		font-size: 14px;
		line-height: 17px;
	}
	.btn {
		font-size: 13px;
		padding: 5px;
		margin: 2px 0;
		width: 100%;
		&.update {
			background-color: #414442;
			border: 1px solid #080808;
		}
		&.delete {
			background-color: #cec1c2;
			border: 1px solid #252424;
		}
	}
} 


/* Content */
.center {
	position: absolute;
	top: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#primerSect{
	font-size: 35px;
}
#segundaSect{
	font-size: 35px;
}

/* cards home */
#cuartaSect {
	.container {
		display: flex;
		justify-content: space-around;
		.card {
			width: 30%;
			img {
				max-height: 210px;
				object-fit: cover;
				width: 100%;
			}
			.face {
				&.face1 {
					h3 {
						padding: 12px;
					}
				}
				&.face2 {
					padding: 0 12px 12px 12px;
				}
			}
		}
	}
}


.book-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	column-gap: 2rem;
    row-gap: 2rem;
	margin: 4rem auto 4rem auto;
    width: 95%;
	@media screen and (max-width: $break-small){
		width: 85%;
	}
	.card {
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0);
		}
	} 
}

.ver-carrito {
	font-size: 25px;
	cursor: pointer;
	position: relative;
	&.btn {
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0 10px;
	}
	#cantidadCarrito {
		position: absolute;
		color: #343a40;		
		font-size: 18px;
		line-height: 23px;
		top: -14px;
		right: 8px;
	}
}

.modal#verCarrito {
	overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    width: 332px;
    left: initial;
    top: 0;
    bottom: inherit;
    height: 100vh;
    padding: 0!important;
	.modal-dialog, .modal-content {
		margin: 0;
		height: 100vh;
	}
	.eliminar-producto {
		cursor: pointer;
		position: absolute;
		margin-left: 7rem;
		margin-top: -6rem;
		background-color: #db0000;
		font-size: 13px;
		color: white;
		border-radius: 100%;
		text-align: center;
		height: 20px;
		width: 20px;
	}
	.total-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		position: absolute;
		bottom: 12px;
		width: 90%;
		.total-precio {
			font-size: 20px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}
	.item-cart {
		width: 100%;
		display: flex;
		gap: 16px;
		.justify-content-between {
			align-items: center;
		}
		.img {
			width: 42%;
			margin-bottom: 10px;
		}
		p {
			margin: 0;
			&.count {
				padding: 0 8px;
			}
			&.price {
				font-size: 14px;
			}
		}
		.btn {
			&.btn-primary {
				line-height: 12px;
				padding: 0;
				height: 25px;
				width: 25px;
			}
		}
	}
}

.form-register {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 27px 0;
	.form-group {
		margin-bottom: 1rem;
		width: 48%;
		@media screen and (max-width: $break-small){
            width: 100%;
        }
	}
}