/*:::::::: GENERAL ::::::::*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;

}
body {	
	@include roboto;
	overflow-x: hidden;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

p {
	font-size: 18px;
	font-weight: 400;
}

/* Content */
.center {
	position: absolute;
	top: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#primerSect{
	font-size: 35px;
}
#segundaSect{
	font-size: 35px;
}