#barra {
    background-color: #f2f2f2;
    .navbar-brand {
        font-size: 40px;
        font-weight: 700;
        margin-left: 20px;
        @media screen and (max-width: $break-medium){
            font-size: 30px;
        }
    }
}

